.button {
  position: relative;
  cursor: pointer;
  font: inherit;
  border: none;
  background: #d8910c;
  color: black;
  margin-top: 1%;
  margin-left: 0%;
  margin-bottom: 1%;
  margin-right: 0%;
  display: inline-block;
  justify-content: space-around;
  border-radius: 25px;
  font-weight: bold;
  vertical-align: middle;
  text-align: left;
}

.h1 {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-top: 10%;
  margin-bottom: 10%;
}

.button:hover,
.button:active {
  background-color: #ca621c;
}
