.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #d8910c;
  padding: 8px 16px;
  z-index: 1;
}

.header h1 {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
}

.header ul {
  display: inline-block;
  text-align: right;
  width: 70%;
  vertical-align: middle;
  margin: 0 1%;
  padding: 0;
  list-style: none;
}

.header li {
  display: inline-block;
  margin: 0 16px;
}
