.button {
  position: relative;
  cursor: pointer;
  font: inherit;
  border: none;
  background: #d8910c;
  color: black;
  padding: 0.75rem 2rem;
  display: inline-block;
  justify-content: space-around;
  border-radius: 25px;
  font-weight: bold;
  vertical-align: middle;
  text-align: left;
}

.button:hover,
.button:active {
  background-color: #ca621c;
}
